<p id="notice"><%= notice %></p>

<p>
  <strong>Tgl:</strong>
  <%= @beritum.tgl %>
</p>

<p>
  <strong>Judul:</strong>
  <%= @beritum.judul %>
</p>

<p>
  <strong>Isi:</strong>
  <%= @beritum.isi %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @beritum.foto %>
</p>

<%= link_to 'Edit', edit_beritum_path(@beritum) %> |
<%= link_to 'Back', berita_path %>
