<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @wisatum.nama %>
</p>

<p>
  <strong>Harga:</strong>
  <%= @wisatum.harga %>
</p>

<p>
  <strong>Info:</strong>
  <%= @wisatum.info %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @wisatum.foto %>
</p>

<%= link_to 'Edit', edit_wisatum_path(@wisatum) %> |
<%= link_to 'Back', wisata_path %>
