<%= render'static_pages/navbar' %>
  <div class="container">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-5">
          <%= image_tag ("a.jpg"), {:class => "img-responsive"} %>
        </div>
        <div class="col-md-7">
          <h5 class="nama"><a href="#">Antonius Angga Kurniawan</a></h5>
          <h6 class="username">@angga_03</h6>
          <h6 class="like-comment">My Review<br><span class="glyphicon glyphicon-comment comment"><span class="badge">500</span></span>
  </div>
    </div>
  <div class="row">
<div class="col-md-12">
  <div class="panel panel-default panel-bio">
  <div class="panel-heading">
    <h3 class="panel-title">
      My Biodata
    </h3>
  </div>
    <div class="panel-body panel-bd-home-bio">
      <h6>An dolor et anim. Ad aute incididunt nam enim o hic eram senserit. Nulla officia 
        eiusmod.</h6>
        </div>
      </div>
    </div>
  </div>

  </div>
  <div class="col-md-8">

    <div class="panel panel-default panel-review">
      <div class="panel-heading">
        <h3 class="panel-title">
      My Review
    </h3>
      </div>
      <div class="panel-body panel-bd-home-review">
        <div class="row media">
          <div class="col-md-3 media-img">
            <%= image_tag ("a.jpg"), {:class => "img-responsive"} %>
          </div>
          <div class="col-md-9 media-konten">
            <h5 class="nama"><a href="#">Antonius Angga Kurniawan</a></h5>
            <h6 class="tempat">@TransStudioBandung</h6>
            <h6 class="kalimat">Tempat yang menyenangkan dengan aneka permainan menarik ^_^</h6>
            <h6 class="like-comment"><span class="glyphicon glyphicon-thumbs-up like"><span class="badge">1000</span></span>
          <span class="glyphicon glyphicon-comment comment"><span class="badge">500</span></span>
            <span class="tanggal-review">9 Desember 2015</span></h6>
          </div>
        </div>
      </div>

      <div class="panel-body panel-bd-home-review">
        <div class="row media">
          <div class="col-md-3 media-img">
            <%= image_tag ("a.jpg"), {:class => "img-responsive"} %>
          </div>
          <div class="col-md-9 media-konten">
            <h5 class="nama"><a href="#">Wawan Budiman</a></h5>
            <h6 class="tempat">@TransStudioBandung</h6>
            <h6 class="kalimat">Tempat yang menyenangkan dengan aneka permainan menarik ^_^</h6>
            <h6 class="like-comment"><span class="glyphicon glyphicon-thumbs-up like"><span class="badge">1000</span></span>
          <span class="glyphicon glyphicon-comment comment"><span class="badge">500</span></span>
            <span class="tanggal-review">9 Desember 2015</span></h6>
          </div>
        </div>
      </div>

      <div class="panel-body panel-bd-home-review">
        <div class="row media">
          <div class="col-md-3 media-img">
            <%= image_tag ("a.jpg"), {:class => "img-responsive"} %>
          </div>
          <div class="col-md-9 media-konten">
            <h5 class="nama"><a href="#">Wawan Budiman</a></h5>
            <h6 class="tempat">@TransStudioBandung</h6>
            <h6 class="kalimat">Tempat yang menyenangkan dengan aneka permainan menarik ^_^</h6>
            <h6 class="like-comment"><span class="glyphicon glyphicon-thumbs-up like"><span class="badge">1000</span></span>
          <span class="glyphicon glyphicon-comment comment"><span class="badge">500</span></span>
            <span class="tanggal-review">9 Desember 2015</span></h6>
          </div>
        </div>
      </div>

      <div class="panel-body panel-bd-home-review">
        <div class="row media">
          <div class="col-md-3 media-img">
            <%= image_tag ("a.jpg"), {:class => "img-responsive"} %>
          </div>
          <div class="col-md-9 media-konten">
            <h5 class="nama"><a href="#">Wawan Budiman</a></h5>
            <h6 class="tempat">@TransStudioBandung</h6>
            <h6 class="kalimat">Tempat yang menyenangkan dengan aneka permainan menarik ^_^</h6>
            <h6 class="like-comment"><span class="glyphicon glyphicon-thumbs-up like"><span class="badge">1000</span></span>
          <span class="glyphicon glyphicon-comment comment"><span class="badge">500</span></span>
            <span class="tanggal-review">9 Desember 2015</span></h6>
          </div>
        </div>
      </div>

    </div>

    <!--<a href="../reviews/new" class="btn btn-primary" role="button">Wisata Baru</a>-->


  </div>
  </div>
